#submit{
  
    width: 100px;
    height:50px;
    border: none;
    outline: none;
    background: #04AA6D;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#submit:hover{
  transform: scale(1.1);
  box-shadow: 0 6px 20px -5px  #3ead49;
}

/* #inputContainer{
    border: 2px solid rgb(39, 90, 39);
    border-radius: 8px;
    width: 100px;
    height: 30px;
    text-align: center;
  } */

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
